<div class="row">
	<!-- Kaire puse tuscia -->
	<div class="col-md-2"></div>
	
	<!-- Turinys -->
	<div class="col-md-7">
		
		<div class="jumbotron">
			<h4>Paktas</h4>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="paktasVardas" class="col-md-3 control-label" required>Vardas * </label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="paktasVardas" placeholder="Satan...">
					</div>
				</div>
				
				<div class="form-group">
					<label for="paktasEmail" class="col-md-3 control-label" required>Paštas * </label>
					<div class="col-md-9">
						<input type="email" class="form-control" id="paktasEmail" placeholder="Satan...">
					</div>
				</div>
				
				<div class="form-group">
					<label for="paktasEmail2" class="col-md-3 control-label" required>Pakartoti paštą * </label>
					<div class="col-md-9">
						<input type="email" class="form-control" id="paktasEmail2" placeholder="Satan...">
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-3 control-label" style="margin-top: 37px;">Lytis *</div>
					<div class="radio col-md-9">
						
						<div class="col-md-12">
							<label class="control-label">
								<input type="radio" ng-model="paktas.lytis" name="" value="istvirkelis">
								Ištvirkėlis
							</label>
						</div>
						
						<div class="col-md-12">
							<label class="control-label">
								<input type="radio" ng-model="paktas.lytis" name="" value="istvirkele">
								Ištvirkėlė
							</label>
						</div>
						
						<div class="col-md-12">
							<label class="control-label">
								<input type="radio" ng-model="paktas.lytis" name="" value="abominacija">
								Abominacija
							</label>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="paktasTitulas" class="col-md-3 control-label">Titulas * </label>
					<div class="col-md-6">
						<input type="text" class="form-control" id="paktasTitulas" placeholder="Satan...">
					</div>
					
					<div class="col-md-3">
						<button class="btn btn-danger">Gauti Titulą</button>
					</div>
				</div>
			</form>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="paktasTitulas" class="col-md-5 control-label">Atvykstu</label>
					<div class="col-md-7">
						<select class="form-control">
							<option>Su karieta</option>
							<option>Be karietos</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="paktasTitulas" class="col-md-5 control-label">Išsekęs mano kūnas ilsėsis</label>
					<div class="col-md-7">
						<select class="form-control">
							<option>Palapinėje</option>
							<option>Man nerūpi kūnas</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="paktasTitulas" class="col-md-5 control-label">Mano asmuo seks apeigas iki pat</label>
					<div class="col-md-7">
						<select class="form-control">
							<option>Penktadienio</option>
							<option>Šeštadienio</option>
							<option>Sekmadienio</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-5">
						<label for="paktasTextarea" class="col-md-12 control-label">Vieta įtartiniems pasiūlymams</label>
					</div>
					
					<div class="col-md-7">
						<div class="ad-paragraph">Jei turi laisvų vietų, parašyk kiek, iš kur ir kada išvažiuoji, ir kontaktinį tel. nr.
							Jei turi laisvų vietų palapinėje, parašyk kiek.
							Jei turi kitų pasiūlymų ar pasisiūlymų (bet koks dalyvavimas sveikintinas ir gali būti trauktas), parašyk.</div>
						<textarea id="paktasTextarea" class="form-control" rows="10"></textarea>
					</div>
				</div>
				
				<div class="form-group">
					<div>Aš, [titulas vardas], laisva valia ir visuomenei nepritariant sudarau šį paktą su tamsos princu ir savo kaulų čiulpais prisiekiu atvykti į apeigas.</div>
					<div class="checkbox" style="text-align: center;">
						<label>
							<input type="checkbox" value="">
							Satan
						</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<!-- Desine puse tuscia -->
	<div class="col-md-3"></div>
</div>