<div class="row">
	<!-- Kaire puse tuscia -->
	<div class="col-md-2"></div>
	
	<!-- Turinys -->
	<div class="col-md-7">
		
		<div class="jumbotron">
			<h4>Paktas</h4>
			<form class="form-horizontal">
				
				<div class="form-group">
					<label for="paktasVardas" class="col-md-3 control-label" required>Vardas * </label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="paktasVardas" placeholder="Satan...">
					</div>
				</div>
				
				<div class="form-group">
					<label for="paktasEmail" class="col-md-3 control-label" required>Paštas * </label>
					<div class="col-md-9">
						<input type="email" class="form-control" id="paktasEmail" placeholder="Satan...">
					</div>
				</div>
				
				<div class="form-group">
					<label for="paktasEmail2" class="col-md-3 control-label" required>Pakartoti paštą * </label>
					<div class="col-md-9">
						<input type="email" class="form-control" id="paktasEmail2" placeholder="Satan...">
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-3 control-label" style="margin-top: 37px;">Lytis *</div>
					<div class="radio col-md-9">
						<div class="col-md-12">
							<label class="control-label">
								<input type="radio" ng-model="paktas.lytis" name="" value="istvirkelis">
								Ištvirkėlis
							</label>
						</div>
						<div class="col-md-12">
							<label class="control-label">
								<input type="radio" ng-model="paktas.lytis" name="" value="istvirkele">
								Ištvirkėlė
							</label>
						</div>
						<div class="col-md-12">
							<label class="control-label">
								<input type="radio" ng-model="paktas.lytis" name="" value="abominacija">
								Abominacija
							</label>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="paktasTitulas" class="col-md-3 control-label">Titulas * </label>
					<div class="col-md-6">
						<input type="text" class="form-control" id="paktasTitulas" placeholder="Satan...">
					</div>
					<div class="col-md-3">
						<button class="btn btn-danger">Gauti Titulą</button>
					</div>
				</div>
			</form>
			<form class="form-horizontal">
				
				<div class="form-group">
					<label for="paktasTitulas" class="col-md-5 control-label">Atvykstu</label>
					<div class="col-md-7">
						<select class="form-control">
							<option>Su karieta</option>
							<option>Be karietos</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="paktasTitulas" class="col-md-5 control-label">Išsekęs mano kūnas ilsėsis</label>
					<div class="col-md-7">
						<select class="form-control">
							<option>Palapinėje</option>
							<option>Man nerūpi kūnas</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="paktasTitulas" class="col-md-5 control-label">Mano asmuo seks apeigas iki pat</label>
					<div class="col-md-7">
						<select class="form-control">
							<option>Penktadienio</option>
							<option>Šeštadienio</option>
							<option>Sekmadienio</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-6">
						<h4></h4>
						<span>Jei turi laisvų vietų, parašyk kiek, iš kur ir kada išvažiuoji, ir kontaktinį tel. nr.
Jei turi laisvų vietų palapinėje, parašyk kiek.
Jei turi kitų pasiūlymų ar pasisiūlymų (bet koks dalyvavimas sveikintinas ir gali būti trauktas), parašyk.</span>
					
					</div>
					<div class="col-md-6">
						
						<textarea class="form-control" rows="3"></textarea>
					
					</div>
				</div>
				
			</form>
			
			
		</div>
		<div class="jumbotron">
			<h4>Žemiškieji keliai</h4>
			<div class="ad-tekstas">
				<div class="ad-paragraph">Vykstantiems automobiliu, siūlome vadovautis viršuje pateiktu interaktyviu žemėlapiu. Jei jo negana, paprasti nurodymai būtų tokie: iš Vilniaus važiuojate Ukmergės plentu iki viaduko "Jauniūnai", jame sukate į kairę greitkelio atžvilgiu. Tik pravažiavę Bartkuškio gyvenvietę nepraleiskite pagrindinio kelio posūkio į dešinę, ir nenuvažiuokite į Paspėrius (kas trečias vis vien nuvažiuos). Važiuokite iki Musninkų, juose už bažnyčios (!) sukite į kairę, važiuokite Čiobiškio kryptimi. Nuvažiavę ~7 km, sukite į dešinę (Lapelės), važiuokite iki kaimo parduotuvės, prie jos sukite į dešinę dar kartą, ir važiuokite visą laiką tiesiai, kol per mišką nusileisite žemyn. Vos išnirę, pamatysite Vartus. Tai jūsų Vartai.</div>
				<div class="ad-paragraph">Atvykus į vietą maloniai prašome nestatyti automobilio bet kur - vadovaukitės nurodymais ir statykite automobilį tam skirtoje vietoje. Taip pat, jei keliaujate automobiliu ir turite laisvų vietų, būtinai apie tai praneškite tvirtindami savo <a ui-sref="paktas">Paktą</a>. Situacijai keičiantis, bendraukite su mumis jums žinomais kontaktais.</div>
				<div class="ad-paragraph">Neturintiems automobilio, ar norintiems atvykti kitaip, esti keli variantai. Visų pirma, artėjant galutinei datai, bandysime sukurti ryšį tarp tų, kurie važiuoja pustuščiai, ir tų, kurie neturi kaip važiuoti. Jei ir to bus negana, vietovę galima pasiekti keliais skirtingais autobusais. Autobusas "į Ukmergę per Gelvonus" važiuoja retai, tačiau stoja pačiose Lapelėse. Kitas variantas - važiuoti bet kuom iki Musninkų, iš ten yra vos 7 km. Pasirinkus protingą atvykimo laiką (ne per anksti ir ne per vėlai) galima tikėtis, kad kažkas bus atsiųstas jūsų paimti (jau atvykęs, bet dar ne girtas). Jei yra noras, arba jei nėra kito varianto, galite ir ateiti, Pragaro Pirmininkas dar ne tiek yra tiek nuėjęs.</div>
			</div>
		</div>
		<div class="jumbotron">
			<h4>Apgyvendinimas ir kita buitis</h4>
			<div class="ad-tekstas">
				<div class="ad-paragraph">Bendruomenė yra didelė, didesnė nei namai. Kažkur 10 žmonių tilps namuose, tačiau ne visiems užteks lovų. Dar iki 10 žmonių galės įsikurti kituose pastatuose po stogu. Kitiems rekomenduojama atsivežti palapinę arba atvykti kitaip pasiruošus. Visiems be išimties primygtinai siūloma atsivežti miegmaišį ir kilimėlį (apklotą ir paklotą).</div>
				<div class="ad-paragraph">Nuolatinė bendruomenės mityba nebus užtikrinama, tikimės iš jūsų suneštinio vaišių stalo. Tačiau, preliminariais duomenimis, bus patiektas didelis kiekis avienos, o taip pat ir subalansuoti sunkaus ryto pusryčiai. Jei yra norinčiųjų prisidėti prie organizacinių pastangų pasirūpinant vienu ar keliais mitybos renginiais (didelio kiekio maisto gamybos įranga bus), prašome pranešti apie tokias iniciatyvas mums. Bet kokia pagalba (maistu, idėjomis ar darbu) yra laukiama.</div>
				<div class="ad-paragraph">Šiuo metu yra 200 litrų alaus, jau pasiekusių Apeigos vietą. Labai tikėtina, kad laikui atėjus bus visi 300, o gal ir daugiau. Tačiau Bendruomenė yra didelė, ir siūlome vadovautis mąstymu "per daug - tai ne per mažai".</div>
			</div>
		</div>
	</div>
	
	<!-- Desine puse tuscia -->
	<div class="col-md-3"></div>
</div>