/* app css stylesheet */

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4{
    font-family: 'Playfair Display SC', serif;
    margin-top: 0px;
    margin-bottom: 20px;
    color: darkred;
}

.satan-tekstas {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
}

header {
    background-color: black;
    position: relative;
}

.satan-paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #cecece;
}

.satan-subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #909090;
    font-size: 14px !important;
    font-style: italic;
    /*text-align: center;*/
}

a {
    color: darkred;
}

a:hover {
    color: red;
}

.satan-submit-text {
    text-align: center;
}

.satan-radio {
    margin-top: 37px;
}

.blink_text { 
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite; color: red; 
} 

@-moz-keyframes blinker {
    0% { 
        color: red; 
    }
    50% { 
        color: white; 
    }
    100% { 
        color: red; 
    } 
}

@-webkit-keyframes blinker { 
    0% { 
        color: red; 
    }
    50% { 
        color: white; 
    }
    100% { 
        color: red; 
    } 
} 

@keyframes blinker { 
    0% { 
        color: red; 
    }
    50% { 
        color: white; 
    }
    100% { 
        color: red; 
    } 
}