/* app css stylesheet */

.jumbotron h1, .jumbotron h2, .jumbotron h3{
    font-family: 'Playfair Display SC', serif;
    color: red;
}

.ad-tekstas {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
}

header {
    background-color: black;
    position: relative;
}

/* Bootstrap rewrites */
.navbar {

}
