/* app css stylesheet */

.jumbotron h1, .jumbotron h2, .jumbotron h3{
    font-family: 'Nosifer', cursive;
    color: red;
}

.ad-tekstas {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
}

/* Bootstrap rewrites */
.navbar {

}
